# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
/.vs
/configuration/ConfigurationAPI/.vs/ConfigurationAPI/v17
/configuration/ConfigurationAPI/ConfigurationAPI/bin/Debug/net6.0
/configuration/ConfigurationAPI/ConfigurationAPI/obj
/configuration/ConfigurationAPI/ConfigurationAPI/Properties
/configuration-api/ConfigurationAPI/.vs/ConfigurationAPI/v17
/configuration-api/ConfigurationAPI/.vs/ConfigurationAPI/config
configuration-api/ConfigurationAPI/ConfigurationAPI/bin/ARM64/Debug/net6.0/ConfigurationAPI.dll
configuration-api/ConfigurationAPI/ConfigurationAPI/bin/ARM64/Debug/net6.0/ConfigurationAPI.pdb
configuration-api/ConfigurationAPI/ConfigurationAPI/bin/ARM64/Debug/net6.0/ref/ConfigurationAPI.dll
configuration-api/ConfigurationAPI/ConfigurationAPI/bin/Debug/net6.0/ConfigurationAPI.dll
configuration-api/ConfigurationAPI/ConfigurationAPI/bin/Debug/net6.0/ConfigurationAPI.pdb
configuration-api/ConfigurationAPI/ConfigurationAPI/bin/Debug/net6.0/ref/ConfigurationAPI.dll
configuration-api/ConfigurationAPI/ConfigurationAPI/bin/Release/net6.0/appsettings.Development.json
configuration-api/ConfigurationAPI/ConfigurationAPI/bin/Release/net6.0/appsettings.json
configuration-api/ConfigurationAPI/ConfigurationAPI/bin/Release/net6.0/ConfigurationAPI.deps.json
configuration-api/ConfigurationAPI/ConfigurationAPI/bin/Release/net6.0/ConfigurationAPI.dll
configuration-api/ConfigurationAPI/ConfigurationAPI/bin/Release/net6.0/ConfigurationAPI.exe
configuration-api/ConfigurationAPI/ConfigurationAPI/bin/Release/net6.0/ConfigurationAPI.pdb
configuration-api/ConfigurationAPI/ConfigurationAPI/bin/Release/net6.0/ConfigurationAPI.runtimeconfig.json
configuration-api/ConfigurationAPI/ConfigurationAPI/bin/Release/net6.0/Microsoft.OpenApi.dll
configuration-api/ConfigurationAPI/ConfigurationAPI/bin/Release/net6.0/Newtonsoft.Json.dll
configuration-api/ConfigurationAPI/ConfigurationAPI/bin/Release/net6.0/Swashbuckle.AspNetCore.Swagger.dll
configuration-api/ConfigurationAPI/ConfigurationAPI/bin/Release/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
configuration-api/ConfigurationAPI/ConfigurationAPI/bin/Release/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
configuration-api/ConfigurationAPI/ConfigurationAPI/bin/Release/net6.0/ref/ConfigurationAPI.dll
configuration-api/ConfigurationAPI/ConfigurationAPI/bin/ARM64/Debug/net6.0/ref/ConfigurationAPI.dll
configuration-api/ConfigurationAPI/ConfigurationAPI/Properties/launchSettings.json
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/staticwebassets.pack.sentinel
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/ARM64/Debug/net6.0/ConfigurationAPI.dll
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/ARM64/Debug/net6.0/ConfigurationAPI.pdb
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/ARM64/Debug/net6.0/ref/ConfigurationAPI.dll
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/Container/AbsoluteOutputAssemblyPath.cache
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/Container/ContainerCreationResult.cache
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/Container/ContainerDevelopmentMode.cache
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/Container/ContainerId.cache
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/Container/ContainerRunContext.cache
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/Container/ImageBuildContext.cache
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/Container/ImageId.cache
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/Debug/net6.0/ConfigurationAPI.dll
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/Debug/net6.0/ConfigurationAPI.pdb
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/Debug/net6.0/ref/ConfigurationAPI.dll
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/Release/net6.0/apphost.exe
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/Release/net6.0/ConfigurationAPI.AssemblyInfo.cs
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/Release/net6.0/ConfigurationAPI.AssemblyInfoInputs.cache
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/Release/net6.0/ConfigurationAPI.assets.cache
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/Release/net6.0/ConfigurationAPI.csproj.AssemblyReference.cache
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/Release/net6.0/ConfigurationAPI.csproj.CopyComplete
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/Release/net6.0/ConfigurationAPI.csproj.CoreCompileInputs.cache
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/Release/net6.0/ConfigurationAPI.csproj.FileListAbsolute.txt
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/Release/net6.0/ConfigurationAPI.dll
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/Release/net6.0/ConfigurationAPI.GeneratedMSBuildEditorConfig.editorconfig
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/Release/net6.0/ConfigurationAPI.genruntimeconfig.cache
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/Release/net6.0/ConfigurationAPI.GlobalUsings.g.cs
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/Release/net6.0/ConfigurationAPI.MvcApplicationPartsAssemblyInfo.cache
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/Release/net6.0/ConfigurationAPI.MvcApplicationPartsAssemblyInfo.cs
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/Release/net6.0/ConfigurationAPI.pdb
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/Release/net6.0/staticwebassets.build.json
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/Release/net6.0/ref/ConfigurationAPI.dll
configuration-api/ConfigurationAPI/test/obj/project.assets.json
configuration-api/ConfigurationAPI/test/obj/project.nuget.cache
configuration-api/ConfigurationAPI/test/obj/test.csproj.nuget.dgspec.json
configuration-api/ConfigurationAPI/test/obj/test.csproj.nuget.g.props
configuration-api/ConfigurationAPI/test/obj/test.csproj.nuget.g.targets
configuration-api/ConfigurationAPI/test/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
configuration-api/ConfigurationAPI/test/obj/Release/net6.0/test.AssemblyInfo.cs
configuration-api/ConfigurationAPI/test/obj/Release/net6.0/test.AssemblyInfoInputs.cache
configuration-api/ConfigurationAPI/test/obj/Release/net6.0/test.assets.cache
configuration-api/ConfigurationAPI/test/obj/Release/net6.0/test.csproj.AssemblyReference.cache
configuration-api/ConfigurationAPI/test/obj/Release/net6.0/test.GeneratedMSBuildEditorConfig.editorconfig
configuration-api/ConfigurationAPI/test/obj/Release/net6.0/test.GlobalUsings.g.cs
configuration-api/ConfigurationAPI/test/Properties/launchSettings.json
configuration-api/ConfigurationAPI/test/appsettings.Development.json
configuration-api/ConfigurationAPI/test/appsettings.json
configuration-api/ConfigurationAPI/test/Dockerfile
configuration-api/ConfigurationAPI/test/Program.cs
configuration-api/ConfigurationAPI/test/test.csproj
configuration-api/ConfigurationAPI/test/test.csproj.user
docker-compose.yml
configuration-api/ConfigurationAPI/ConfigurationAPI/bin/ARM64/Debug/net6.0/ConfigurationAPI.dll
configuration-api/ConfigurationAPI/ConfigurationAPI/bin/ARM64/Debug/net6.0/ConfigurationAPI.pdb
configuration-api/ConfigurationAPI/ConfigurationAPI/bin/ARM64/Debug/net6.0/ref/ConfigurationAPI.dll
configuration-api/ConfigurationAPI/ConfigurationAPI/bin/Debug/net6.0/ConfigurationAPI.dll
configuration-api/ConfigurationAPI/ConfigurationAPI/bin/Debug/net6.0/ConfigurationAPI.pdb
configuration-api/ConfigurationAPI/ConfigurationAPI/bin/Debug/net6.0/ref/ConfigurationAPI.dll
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/staticwebassets.pack.sentinel
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/ARM64/Debug/net6.0/ConfigurationAPI.dll
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/ARM64/Debug/net6.0/ConfigurationAPI.pdb
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/ARM64/Debug/net6.0/ref/ConfigurationAPI.dll
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/Container/AbsoluteOutputAssemblyPath.cache
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/Container/ContainerCreationResult.cache
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/Container/ContainerDevelopmentMode.cache
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/Container/ContainerId.cache
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/Container/ContainerRunContext.cache
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/Container/ImageBuildContext.cache
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/Container/ImageId.cache
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/Debug/net6.0/ConfigurationAPI.dll
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/Debug/net6.0/ConfigurationAPI.pdb
configuration-api/ConfigurationAPI/ConfigurationAPI/obj/Debug/net6.0/ref/ConfigurationAPI.dll
configuration-api/ConfigurationAPI/ConfigurationAPI/Properties/launchSettings.json
